<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>How to use Filter in Angular</h1>
   <div class="content">
     <div class="seach">
      <input type="text" class="form-control" id="name" 
      required
      [(ngModel)]="searchLocation" />
     </div>
     <table id="customers">
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>
      <tbody>
        <tr *ngFor="let company of list | filter:searchLocation">
         <td>{{company.name}}</td>
         <td>{{company.address}}</td>
         <td>{{company.phone}}</td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
